
services:
  postgres:
    image: postgres:18
    container_name: discord-postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: discord-db
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: